body {
	display: flex;
	margin: 0 auto;
	padding: 150px;
}

.blocoCabecalho {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	height: 665px;
}

h1 {
	width: 90%;
}

.conteudoPrincipal {
	display: flex;
	flex-direction: column;
	height: 665px;
}

form {
	display: flex;
	flex-direction: column;
	padding: 30px;
	height: 520px;
}

		/*MOBILE*/
@media(max-width: 768px) {


	}
