body {
	display: flex;
	margin: 0 auto;
	padding: 150px;
}

.blocoCabecalho {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	height: 200px;
}

h1 {
	width: 50%;

}